body {
                    font-family: Arial, sans-serif;
                    font-size: 90%;
                  
                 margin-left: 10px;
                 padding-right: 2%;
                    width: 96%;
                    
                color: black;
                background-color:
                text-align: justify;}
header {
                    
                    padding: 5px;
                    width: 100%;
                  
                    font_weight: bold;
                    color: black;
                    display: block;
                    margin-top: 18px;
                    
 .main {
                   
                    padding: 5px;
                    font-size: 24px;
                    width: 100%;
                    
                   
                    
                   
                    border-radius:5px;
                    color: black;
                }
 .nav {
                    ;
                    margin-right: 10px
                    
                    width : 100%;
                    font-size: 100px;
                    border-radius: 5px;
                    color: black;
                }
 .section {
                    margin: 1px;
                    padding: 5px;
                    font-size: 24px;
                    width: 100%;
                    
                    
                    border-radius: 5px;
                    color: black;
                }
footer {
                    margin: 20px;
                    padding: 10px;
                    text-align: justify;
                    border-radius: 5px;
                    color: red;
                    text-size: 80%;
                    width: 90%
                }
.span1 {
                    font-weight: bold;
                    color: blue;
                    cursor : pointer;
                }
.span2 {
                    font-weight: bold;
                    color: blue;
                    cursor: pointer;
                }
.span3 {
                    font-weight: bold;
                    color: blue;
                }
.image {
                    display: inline-block;
                    margin-left: 18px
                    
                    height: 50px;
                    image-align: center;
                    width : 100%;
                    cursor: pointer;}
                

                        }
                    
 .button2 {
                    background-color: blue;
                     
                    color: rgb(190, 9, 9);
                    padding-left: 35;
                    padding-right: 35px;
                    padding-top: 15px;  
                    padding-bottom: 15px;
                    border-style: solid;
                       
                    text-decoration: none;
                    cursor:pointer
                      
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px;}
                button2:hover; {
                    background-color: white 
                    color: blue;
                    cursor: pointer;

                            

                        }



                
 .button3 {
                    background-color: red;
                     
                    color: white;
                    padding: 10px 20px;
                    display: block
                       
                    text-decoration: none;
                    border-style: solid;
                    cursor:pointer
                      
                    font-size: 30px;
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px;}
                button3:hover; {
                    background-color: white; 
                    color: red;
                    cursor: pointer;                                                

                            

                        }
 .button4 {
                    background-color:red;
                     
                    color: white;
                    border-style: solid;
                    padding: 10px 20px;
                       
                    text-decoration: none;
                    cursor:pointer
                      
                    font-size: 30px;
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px;}
                button4:hover; {
                    background-color: white;
                    color: red;
                    cursor: pointer;
                    transition: opacity 0.3s ease;
                            

                        }
 .image2 {
                    display: block;
                    width : px;
                    height : 50px;
                    margin-left: 40px;
                    


                   
                    float: left;
                    cursor: pointer;}  
.spana {
                    font-weight: bold;
                    color: blue;
                    cursor : pointer;
                }
   .spanb {
                    font-weight: bold;
                    color: blue;
                    cursor : pointer;
                } 
 .l {
                    font-weight: bold;
                    color: rgb(63, 60, 236);
                    cursor : pointer;
                } 
   .k {
                    font-weight: bold;
                    color:  rgb(63, 60, 236);
                    cursor : pointer;
                } 
                
                
                
.div {
                    display: grid;
                    grid-template-columns: 22% 22% 22% 22%;
        gap: 4%;
                margin-bottom:20px;
                  
                  
                  text-align: justify;
                  font-size: 80%;
              background: ivory;
                  color: ;
                  word-spacing: 1px;
                    }
 .div img{
     width: 100%;
     height: 100px;
 strong{
     font-size: 30%;
     color: red;
 }
 .top{
    width: 100%;           /* Adjust container width as needed */
    height: 400px;         /* Adjust container height as needed */
    overflow: hidden;      /* Hides the parts of the image that scale outside the container */
    position: relative;
}
 .tp{ width: 100%;
  height: auto; transform-origin: center center; 
   animation: zoom-in-out 15s ease-in-out infinite alternate; }
  @keyframes zoom-in-out { 0% { transform: scale(1);  }
  20%{transform: scale(1.1)} 
  100% { transform: scale(1.2); /*  } }
